.bottomBorder{
    border-bottom:thick solid white;
    padding:20px
}
.mainBody{
  margin-top:50px;
  min-height:calc(100vh-53px);
}
.aboutMe{
  background:#329999;
  color:white;
  padding:20px;
  box-shadow: 0px 0px 1px 1px #888888;
}
.portfolio{
  background: #007373;
  padding: 20px;
  text-align:center;
  color:white;
  box-shadow: 0px 0px 1px 1px #888888;
}
form {
  width:100%;
}
a>h3.imageCaption{
  color:white;
  text-decoration:none;
}
a>h3:hover,a>h3:focus{
  color:black;
  text-decoration:none;
}
.contact{
  padding:20px;
  background:#005959;
  box-shadow: 0px 0px 1px 1px #888888;
  color: white;
}
body{
  background:teal;
}
.sectionHeading{
  border-bottom:white solid 2px;
  padding:10px;
  margin-bottom:15px;
}
.portfolioPic{
  border-bottom:white 2px solid;
  margin-bottom:10px;
}
.portfolioPic img{
  height:200px; 
}
input[type='text']{
  color:black;
  width:100%;
}
label{
  width:100%;
}
textarea{
  width:100%;
  height:100px;
  color:black;
}
footer{
  padding: 50px;
  background:#002626;
  color:#99cccc;
  box-shadow: 0px 0px 1px 1px #888888;
}
p{
  font-size:150%;
}
input[type='submit']{
  background:#198c8c;
}
@media screen and (max-width: 640px) {
  p {
    font-size:75%;
  }
}